[submodule "glide"]
	path = glide
	url = https://github.com/bumptech/glide.git
[submodule "Android-MultiStateView"]
	path = Android-MultiStateView
	url = https://github.com/MeetMe/Android-MultiStateView.git
